<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
  {% endif %}
  {% if site.qq_weibo %} 
{% capture carriage_return %}
{% endcapture %}
  	{% if page.images %}
  		{% capture weiboImg %}
			{% for item in page.images %}
				{{ site.url | append: item | append: '|' }}
			{% endfor %}
		{% endcapture %}
	{% else %}
		{% capture weiboImg %}
			{{site.url}}/images/blog-title.png
		{% endcapture %}
	{% endif %}
	{% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
    <table width="100%">
		<tr>
		<td>&nbsp;</td>
		<td width="62px">
		    <div id="qqwb_share__" data-appkey="{{site.qq_weibo_key}}" data-icon="1" data-counter="0" data-counter_pos="{{qq_weibo_data_pos}}" data-content="{{page.title}}:{{ description | strip_html | condense_spaces | truncate:100 }}" data-pic="{{weiboImg| remove: ' ' | remove: '	'| remove: carriage_return }}">
		    </div>
		</td>
		<td>&nbsp;</td>
		</tr>
	</table>
  {% endif %}
</div>
